#abtbody{
    background-color: #e9f2f5 !important;
}
.blocks{
    display: flex;
}

.abtsec a{
    text-decoration: none !important;
    color: white;
}
.abtsec a:hover{
    color:yellow !important;
}

.scrollhlt{
    border-left:5px solid rgb(184, 241, 255) !important;
}

.abtsec{
    margin:0;
    position:fixed;
    width: 10%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background-color: #162E58;
}
.abtsec li{
    list-style-type: none;
    height:2rem;
    margin:0.5vw;
    text-align: left;
    padding-left:4px;
    font-size: 1.6vw;
    font-family: 'Bebas Neue', cursive;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    transition: margin 0.5s;
    transition-timing-function: ease-in;


    
}
.titlee{
    position: relative;
    margin-left: 1.75rem;
}
    
#abtbody h3{
    padding-bottom: 10px;
}
.titlee:after{
    content:"";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 3rem;
    height:6px;
    background-color: rgb(179, 172, 172);

}

@media screen and (max-width:460px){
    .hello{
        transform:translateX(-1.2rem);
    }
}

/*img{
    display: block;
    max-height: 100%;
    margin-top:5rem;
    width: 90%;
}*/
.abtsec li:hover{
    border-left:5px solid rgb(238, 144, 144);
    cursor: pointer;
    margin-left: 13%;
    font-size: 1.7vw;
    color: rgb(255, 233, 37) !important;
}
.maincont{
    width:90%;
    position: relative;
    left:10%;
    height:100%;
}

.abtus{
    margin:4% auto;
    margin-bottom: 0;
    display: inline-block;
    max-width:400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    color: rgb(46, 43, 49);
    /*border-bottom: 4px solid rgb(20, 125, 173);*/
    
    letter-spacing: 1vh;
    height:100%;
    
}
.abtus::after{
    content: "";
    width:8rem;
    height:7px;
    background-color: rgb(75, 70, 70);
    bottom:0;
    margin:auto;
}
@media screen and (max-width:767px){
    .abtsec{
        display: none;
    }
}
.para{
    width:90%;
    font-family: 'Open Sans', sans-serif;
    margin:0 auto;
    text-align: justify;
    font-weight: 700;
}
.bgcol{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
#abtbody .hello{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#abtbody img{
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 80%;
}
@media screen and (max-width:991px){
    .para{
        width:80%;
        margin-left:4%;
    }
    .titlee{
        margin-left: 4%;
    }
    .hello{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}
.spc{
    justify-content: space-around;
    margin-top: ;
}
.cardmain{
    
}
.cardmain img{
    width:200px;
    max-width: 100%;
    height:auto;
    border-radius: 50%;
}

/* card */

.card-wrapper{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    width:16rem;
    background-color: rgb(252, 249, 252);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:2rem 2rem;
    

}

@media screen and (min-width:600px){
.card:hover{
    box-shadow: 0rem 0rem 0.8rem 0.1rem rgb(31, 29, 29);
    background-color: rgb(255, 255, 254);
}
}

.card img{
    width: 10rem;
    height:10rem;
    transform: translateX(1px);
    margin-top: 0.5rem;
    border-radius: 50%;
    object-fit: cover;    

}
.card h1{
    font-size: 1.7rem;
    font-weight: 600;
    margin:1.5rem 0;
}
.ppos{
    font-size: 1rem;
    font-weight: 550;
}
.about{
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}
@media screen and (max-width:657px){
    .card {
        margin:1rem 1rem;
    }
}
@media screen and (max-width:460px){
    .card{
        transform:translateX(-1.05rem);
    }
}

.carousel-inner img{
    height:620px;
    width:80% !important;
    margin:auto;
    object-fit: cover;
}

.carousel-control-next-icon{
background-image: url("https://toppng.com/uploads/preview/ext-button-transparent-image-next-button-115629752231qqkzux7gn.png") !important;

}
.carousel-control-prev-icon{
background-image: url("https://toppng.com/uploads/preview/ext-button-transparent-image-next-button-115629752231qqkzux7gn.png") !important;
transform: scaleX(-1);
margin:auto;
}

.carousel-inner{
    margin-top:20px !important;
}
